{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
function getOfficeList() {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'info',
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)  
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(data){
        const office_list = data.result;
        const ul = document.getElementById('office-list');
        ul.innerHTML = '';
        
        for (let i = 0; i < office_list.length; i++) {
            const office = office_list[i];
            const li = document.createElement('li');
            li.innerText = `${office.number}: ${office.tenant || 'свободен'}`;

            const bookingButton = document.createElement('button');
            bookingButton.innerText = 'забронировать';
            bookingButton.onclick = function() { booking(office.number); };
            li.appendChild(bookingButton);

            const cancelButton = document.createElement('button');
            cancelButton.innerText = 'освободить';
            cancelButton.onclick = function() { cancellation(office.number); };
            li.appendChild(cancelButton);

            ul.appendChild(li);
        }
    });
}

function booking(officeNumber) {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'booking',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(data) {
        if (data.error) {
            switch(data.error.code) {
                case 1: 
                    alert('Вы не авторизованы');
                    break;
                case 2: 
                    alert('Офис уже забронирован');
                    break;
                case -32601: 
                    alert('Произошла ошибка');
                    break;
                default:
                    alert('Неизвестная ошибка');
                    break;
            }
        } else {
            document.getElementById('office-list').innerHTML = '';
            getOfficeList();
        }
    });
}

function cancellation(officeNumber) {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'cancellation',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(data) {
        if (data.error) {
            switch(data.error.code) {
                case 1: 
                    alert('Вы не авторизованы');
                    break;
                case 3: 
                    alert('Офис не забронирован');
                    break;
                case 4: 
                    alert('Вы можете освобождать только свои офисы');
                    break;
                case -32601: 
                    alert('Произошла ошибка');
                    break;
                default:
                    alert('Неизвестная ошибка');
                    break;
            }
        } else {
            document.getElementById('office-list').innerHTML = '';
            getOfficeList();
        }
    });
}

document.addEventListener('DOMContentLoaded', function() {
    getOfficeList();
});
</script>
{% endblock %} 

{% block main %}
    <h1>Список кабинетов</h1>
    <ul id="office-list"></ul>

    


{% endblock %}