{% extends "base.html" %}

{% block lab %}Возведение в степень{% endblock %}

{% block main %} 
    {% if error %}
        <div style="color: red; font-weight: bold;">{{ error }}</div><br>
        <div>
            <a href="/lab4/div-form"> Вернуться назад</a>
        </div>
    {% else %}
        <h1>Возведение в степень</h1>
        <div>{{ x1 }}  <sup>{{ x2 }}</sup> = {{ result }}</div><br>
        <div>
            <a href="/lab4/div-form">Вернуться назад</a>
        </div>
    {% endif %}
{% endblock %}