{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

    <h1>Статьи</h1>

    {% if no_articles %}
        <div style="color:red">
            {{ message }}
        </div><br>
    {% else %}
        {% for article in articles %}
            <h2 style="margin-left: 20px;">{{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote><br>

            <a class="btn1" href="{{ url_for('lab5.edit_article', article_id=article['id']) }}">Редактировать</a>
        {% endfor %}
    {% endif %}

<style>
.btn1 {
    background: #3498db;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 16px;
    margin-left: 40px;
}
</style>
{% endblock %}