{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div style="color: red">{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>Название статьи:</label><br>
            <input type="text" name="title" maxlength="50" style="width: 300px;">
        </div><br>

        <div>
            <label>Текст статьи:</label><br>
            <textarea name="article_text" rows="8" style="width: 500px;"></textarea>
        </div><br>

        <div>
            <label>
                <input type="checkbox" name="is_favorite" value="true">
                Сделать избранной
            </label>
        </div><br>

        <div>
            <label>
                <input type="checkbox" name="is_public" value="true">
                Сделать публичной
            </label>
        </div><br>

        <button type="submit">Создать</button>
    </form>
{% endblock %}