{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Профиль пользователя</h1>
    
    {% if error %}
        <div class="error" style="color: red; margin: 10px 0;">{{ error }}</div>
    {% endif %}
    
    <form method="post">
        <div>
            <label>Логин:</label>
            <input type="text" value="{{ user['login'] }}" disabled>
        </div>
        
        <div>
            <label>Реальное имя:</label>
            <input type="text" name="real_name" value="{{ user['real_name'] or '' }}">
        </div>
        
        <h3>Смена пароля (оставьте пустым, если не хотите менять)</h3>
        
        <div>
            <label>Текущий пароль:</label>
            <input type="password" name="current_password">
        </div>
        
        <div>
            <label>Новый пароль:</label>
            <input type="password" name="new_password">
        </div>
        
        <div>
            <label>Подтверждение пароля:</label>
            <input type="password" name="confirm_password">
        </div>
        
        <button type="submit">Сохранить изменения</button>
    </form>
    
    <style>
        form div {
            margin: 15px 0;
        }
        label {
            display: inline-block;
            width: 200px;
        }
        input {
            padding: 5px;
            width: 250px;
        }
    </style>
{% endblock %}