<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        main {
            padding-left: 40px;
        }
    </style>
</head>
<body>
    <header>
        <b>WEB-программирование, часть 2. {% if lab_num %}Лабораторная работа 2{% endif %}</b>
    </header>

    <main>
        <h1>Пиво добавлено!</h1>
        <p><strong>Марка:</strong> {{ name }}</p>
        <p><strong>Цена:</strong> {{ price }} ₽</p>
        <p><strong>Всего пива в сумке:</strong> {{ total_count }}</p>
        <a href="{{ url_for('all_flowers') }}">К списку пива</a>
    </main>

    <nav>
        <a class="btn" href="{{ url_for('index') }}">На главную</a>
    </nav>

    <footer>
         &copy; Воспанчук Виктория, ФБИ-31, 3 курс, 2025
    </footer>
</body>
</html>