<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все пива</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        main {
            padding: 10px;
            padding-left: 60px;
        }
    </style>
</head>
<body>
    <header>
        <b>WEB-программирование, часть 2. {% if lab_num %}Лабораторная работа 2{% endif %}</b>
    </header>
    <main>
        <div>
            <h1>Список всех пив:</h1>
                
            <div>
                <p><b>Всего бутылок:</b> {{ total_count }}</p>
            </div>
                
            <ul>
                {% for flower in flower_list %}
                <li>{{ flower }}</li>
                {% endfor %}
            </ul>
                
            <div>
                <a href="/lab2/clear_flowers" class="clear-link">Очистить список</a><br>
                <a href="/lab2/">Назад к лабораторной</a>
            </div>

            <nav>
                <a class="btn" href="{{ url_for('index') }}">На главную</a>
            </nav>
        </div>
    </main>

    <footer>
         &copy; Воспанчук Виктория, ФБИ-31, 3 курс, 2025
    </footer>
    </footer>
</body>
</html>