{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    
    <div class="menu">
        <a href="/lab5/login">Список статей</a>
        <a href="/lab5/articles">Статьи</a>
        
        {% if session.get('login') %}
            <a href="/lab5/logout">Выйти</a>
            <span class="username">{{ session['login'] }}</span>
        {% else %}
            <a href="/lab5/login">Войти</a>
            <a href="/lab5/register">Регистрация</a>
            <span class="username">Anonymous</span>
        {% endif %}
    </div>

    <style>
        .menu {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 20px 0;
            padding: 15px;
            background-color: #d1c2ff;
            border-radius: 5px;
            flex-wrap: wrap;
        }
        
        .menu a {
            text-decoration: none;
            color: #333;
            padding: 8px 16px;
            border: 1px solid #8fb0db;
            border-radius: 4px;
            background-color: rgb(254, 239, 255);
        }
        
        .menu a:hover {
            background-color: #e9e9e9;
        }
        
        .username {
            margin-left: auto;
            font-weight: bold;
            color: #000d6d;
        }
    </style>
{% endblock %}